{:deps {org.clojure/clojure {:mvn/version "1.11.3"}
        org.clojure/spec.alpha {:mvn/version "0.4.233"}
        integrant/integrant {:mvn/version "0.9.0-alpha4"}}
 :aliases
 {:dev {:extra-paths ["development/src"]

        :extra-deps {poly/json-reader {:local/root "components/json-reader"}
                     poly/sqlite-store {:local/root "components/sqlite-store"}
                     poly/data-specs {:local/root "components/data-specs"}

                     poly/rest-api {:local/root "bases/rest-api"}

                     integrant/repl {:mvn/version "0.3.3"}}}

  :test {:extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}
         :extra-paths ["bases/rest-api/test"

                       "components/json-reader/test"
                       "components/sqlite-store/test"
                       "components/data-specs/test"]}

  :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
         :extra-deps {polylith/clj-poly {:mvn/version "0.2.19"}}}}}
