{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/spec.alpha {:mvn/version "0.4.233"}
        integrant/integrant {:mvn/version "0.9.0-alpha4"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        org.slf4j/log4j-over-slf4j {:mvn/version "2.0.13"}
        org.slf4j/slf4j-jdk14 {:mvn/version "2.0.13"}}
 :aliases
 {:dev {:extra-paths ["development/src"]

        :extra-deps {poly/json-reader {:local/root "components/json-reader"}

                     poly/rest-api {:local/root "bases/rest-api"}

                     integrant/repl {:mvn/version "0.3.3"}}}

  :test {:extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}
         :extra-paths ["components/json-reader/test"
                       "components/api-server/test"
                       "bases/rest-api/test"]}

  :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
         :extra-deps {polylith/clj-poly {:mvn/version "0.2.19"}}}}}
